<p>Find a TUBE</p>
<form action="/find_tube" method="get" name="new_tube_video">
  <label for="new_title">Submit a [T]ITLE</label>
  <br>
  <input type="text" id="new_title" name="new_title" size="100px" placeholder="Title of the video? Any single word? A part of it?" autofocus>
  <br>
  <label for="new_genre">Look for a specific GENR[e]</label>
  <br>
  <input type="text" name="new_genre" id="new_genre" size="50px" placeholder="What is the genre of the video?">
  <br>
  <button alt="Find it!">[FI(N)D]</button>
</form>
<% if @find_video == false %>
<h2><%= @find_no_video %></h2>
<% end %>
<ul>
  <% if @find_video %>
  <% @find_video.each do |video| %>
  <li>
  <div id="v_container">
    
    <div id="v_container_left">
      <iframe id="player" type="text/html" width="480" height="320" src="https://youtube.com/embed/<%= video['url']%>" frameborder="0">
      </iframe>
    </div>

    <div id="v_container_right">
      <span>[T]itle:</span>
      <span><%= video['title']%></span>
      <span>[D]escription:</span>
      <span><%= video['description']%></span>
      <span>[G]enre:</span>
      <span><%= video['genre']%></span>
      <p>
        <a href="/update_tube?id=<%= video['id']%>">[Update]</a>
        <a href="/delete_tube?id=<%= video['id']%>">[Delete]</a>
      </p>
    </div>
  </div>
  </li>
  <% end %>
</ul>
<% end %>